* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: rgb(228, 165, 202);
    font-family: sans-serif;
  }
  
  h2 {
    font-size: 32px;
    color: white;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 10px;
    gap: 16px;
    background-color: #a92096;
    padding: 30px;
    color: white;
   
    border-radius: 10px;
  }
  
  body {
    margin-top: 10px;
  }
  
  
  body:last-child {
    margin-bottom: 32px;
  }